
.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

ul {
    list-style: none;
    padding: 0;

}

.footer img {
    width: 5.8rem;
    height: auto;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    list-style: none;
    gap: 2rem;
}

.footer-nav a {
    text-decoration: none;
    color: #333;
    font-family: 'Karla', sans-serif;
    font-size: 0.4rem;
}

h4 {
    font-family: "Karla", sans-serif;
    font-size: 0.5rem;
}

address {
    font-family: "Karla", sans-serif;
    font-size: 0.4rem;
}



@media (min-width: 1024px) {

    .footer {
        justify-content: space-between;
        padding: 2rem 5rem;
    }
    .footer img {
        width: 20rem;
        height: auto;
    }

    .footer-nav {
        justify-content: space-between;
        gap: 2rem;
    }

    .footer-nav a {
        font-size: 1.2rem;
    }
}