.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header img {
    width: 54px;
    height: auto;
}

@media (min-width: 1040px) {
    .header {
        justify-content: space-between;
        padding: 2rem 5rem;
    }

    .header img {
        width: 200px;
        height: auto;
    }
}