

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-family: "Karla", sans-serif;
    font-size: 0.5rem;
}

@media (min-width: 1024px) {
    .nav {
        justify-content: space-between;
        gap: 2rem;
    }

    .nav a {
        font-size: 1.2rem;
    }
}